/* Isso muda o estilo do 'body' e do 'h1' */
body {
    background-color: #333; /* Fundo escuro */
    color: #eee;            /* Texto claro */
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 50px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}